<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Interanimos</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    
    <body>
        <!-- Tabs Row (a la microsoft ribbon) -->
        <nav class="nav-container">
            <div class="nav-item tabs" style="grid-area: tabs-container">
                <a href="{{ url_for('main.file_tab') }}"
                   class="tab {% block   file_tab_status %}{% endblock %}">
                   File
                </a>
                <a href="{{ url_for('main.bone_tab') }}"
                   class="tab {% block  bones_tab_status %}{% endblock %}">
                   Bones
                </a>
                <a href="{{ url_for('main.not_implemented') }}"
                   class="tab {% block   skin_tab_status %}{% endblock %}">
                   Skin
                </a>
                <a href="{{ url_for('main.not_implemented') }}"
                   class="tab {% block constr_tab_status %}{% endblock %}">
                   Constraints
                </a>
                <a href="{{ url_for('main.not_implemented') }}"
                   class="tab {% block   test_tab_status %}{% endblock %}">
                   Testing
                </a>
                <a href="{{ url_for('main.not_implemented') }}"
                   class="tab {% block  ctrls_tab_status %}{% endblock %}">
                   Controls/Gizmos
                </a>
            </div>
            <!-- Tab Buttons (specified in child templates) -->
            <div class="nav-item tab-content" style="grid-area: tab-btn-contnr">
                {% block   file_tab_btns %}{% endblock %}
                {% block  bones_tab_btns %}{% endblock %}
                {% block   skin_tab_btns %}{% endblock %}
                {% block constr_tab_btns %}{% endblock %}
                {% block   test_tab_btns %}{% endblock %}
                {% block  ctrls_tab_btns %}{% endblock %}
            </div>
            <!-- Info Button (Eye of Terpsichore Feature referenced in Assignment 4 Part A/B) -->
            <div class="nav-item info-btn-contnr" style="grid-area: info-btn-cntr">
                <button class="info-btn">Info</button>
            </div>
        </nav>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class='flash-container'>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="workspace-container">
                <!-- Main content area -->
                <div class="main-workspace">
                    <!-- Left panel: Tab content + Objects & Operations -->
                    <div class="left-panel">
                        <!-- Objects & Operations panel -->
                        <div class="objects-operations">
                            {% block object_operations_content %}<h3>Objects & Operations</h3>{% endblock %}
                            {% block left_panel_content %}{% endblock %}
                        </div>
                    </div>
                    
                    <!-- Right panel: Faked 3D viewport-->
                    <div class="right-panel">
                        <div class="viewport-placeholder">
                            {% include "_fake_perspective.html" %}
                            {% block viewport_content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>