{% extends "base.html" %}

<!-- Telling the Workspace that the Bones Tab is Active when This Page is Loaded -->
        <!-- Understanding of Nameable Blocks from Google AI Overview. -->
{% block bones_tab_status %}active{% endblock %}

{% block bones_tab_btns %}
<!-- Bones Tab Content -->
<div class="button-group">
    <button class="action-btn">Add Root Bone</button>
    <button class="action-btn">Add Bone</button>
    <button class="action-btn">Add Arm</button>
    <button class="action-btn">Add Leg</button>
    <button class="action-btn">Add IK Chain</button>
</div>
{% endblock %}

{% block viewport_content %}
    {% include "_bone.html" %}
{% endblock %}