{% extends "base.html" %}

{% block bones_tab_btns %}
<div class="button-group">
    <button class="action-btn"><a href="{{ url_for('main.bone_tab') }}" style="color: #ebf4eb; text-decoration: none;">Go to Prototype</a></button>
</div>
{% endblock %}

{% block object_operations_content %}{% endblock %}

{% block left_panel_content %}
<p><b>Project Name:</b> Interanimos</p>
<p><b>Created by:</b> Casey Carta</p>
<p><b>AI Usage:</b> Concerning, Shameful, and Significant</p>
<p><b>Target Users:</b> Beginner 3D Artists</p>
<p><b>State of the Prototype:</b> Beyond Unfinished. A Compelte Failure.</p>
{% endblock %}